.Day-one {
	width: 134px;
	height: 375px;
	background-color: rgba(47, 207, 186, 0.15);
}
.monday {
	width: 130px;
	height: 13px;
	font-family: $font-montserrat;
	font-size: 10px;
	letter-spacing: 0.2px;
	text-align: center;
	color: #2e0a3a;
  padding-top: 12px;
  padding-bottom: 12px;
}
.Monday-english-container {
	width: 134px;
	height: 59px;
	background-color: #1b3c50;
}
.Monday-english {
	width: 134px;
	height: 1px;
	font-family: $font-montserrat;
	font-size: 8px;
	line-height: 1.5;
	letter-spacing: 0.2px;
	text-align: center;
	color: #f7f7f7;
  padding-top: 15px;
}
.English-Composition {
  @extend .Monday-english;
	font-size: 10px;
	line-height: 1.2;
}
.CSET-0neZeroFive-container {
	width: 134px;
	height: 177px;
	background-color: #1b3c50;
  margin-top: 78px;
}
.IntroToWeb-Monday {
  width: 85%;
	height: 10px;
	font-family: $font-montserrat;
	font-size: 10px;
	line-height: 1.2;
	letter-spacing: 0.2px;
	text-align: center;
	color: #f7f7f7;
  margin: 0px 10% 0px 5%;
}
.CSET-0neZeroFive {
  @extend .IntroToWeb-Monday;
  width: 90%;
  font-size: 8px;
	line-height: 1.5;
  padding-top: 65px;
  margin: 0px 5% 0px 5%;
}
.Day-two {
  @extend .Day-one;

}
